* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.service-box {
  padding: 60px 20px;
  height: 80vh;
}

.service-box p {
  font-size: 12px;
  color: #e7e7e7;
}
.services-card {
  padding: 15px;
  border-right: 1px solid rgb(72, 189, 193);
  width: 220px;
  /* background-color: #1b1b1b; */
  background-color: #25282d;

  color: rgb(255, 255, 255);
  font-size: 12px;
  text-align: left;
  height: 250px;
  font-weight: 500;
}

.services-card h3 {
  color: rgb(255, 184, 61);
}

.bg-grey {
  /* background-color: rgb(27, 28, 28); */
  background-color: #25282d;
}

.text-half-color {
  color: rgb(9, 254, 127);
}

.scroll-none::-webkit-scrollbar {
  display: none;
}

.bgr {
  color: rgb(34, 230, 197);
}

.client-btn {
  padding: 5px;
  text-align: center;
  width: 128px;
  font-size: 12px;
  border: 2px solid grey;
  border-radius: 8px;
  background-color: rgb(0, 0, 0);
}

.count-card {
  height: 200px;
}


.review-box{


  /* background-color: rgb(16, 18, 20); */
}