* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.service-box {
  padding: 60px 20px;
}
.services-card {
  padding: 15px;

  width: 220px;
  background-color: #1b1b1b;
  color: rgb(255, 255, 255);
  font-size: small;
  text-align: left;
  height: 250px;
  font-weight: 500;
}
.services-card h3 {
  color: rgb(250, 246, 138);
}

.bg-grey {
  background-color: rgb(27, 28, 28);
}

.text-half-color {
  /* color: #ffe95c; */
  color: rgb(34, 230, 197);
}

.scroll-none::-webkit-scrollbar {
  display: none;
}

.bgr {
  color: rgb(34, 230, 197);
}
